.textarea-l {
    text-align: center;
}

.color-a {
    color: rgb(99, 102, 241);
}
.backgroundcolor-a {
    background-color: rgb(99, 102, 241);
    width: 100px;
}
.icon-a {
    background-color: rgb(224, 231, 255);
    width: 80px;
    height: 80px;
    & > svg {
        width: 40px;
        height: 40px;
    }
}
.icon-b {
    background-color: rgb(224, 231, 255);
    min-width: 128px;
    height: 128px;
    & > svg {
        width: 64px;
        height: 64px;
    }
}
.icon-a > .reviews,
.ftw > a {
    color: rgb(75, 85, 99);
}
.block-r {
    & > h2 {
        font-size: 14px;
    }
    & > h1 {
        font-size: 30px;
    }
}
.color-size > .color {
    & > :nth-child(2) {
        width: 24px;
        height: 24px;
        background-color: rgb(209, 213, 219);
        padding: 0.5rem !important;
    }
    & > :nth-child(3) {
        width: 24px;
        height: 24px;
        background-color: rgb(55, 65, 81);
        padding: 0.5rem !important;
    }
    & > :nth-child(4) {
        width: 24px;
        height: 24px;
        background-color: rgb(99, 102, 241);
        padding: 0.5rem !important;
    }
}
.textarea-l {
    max-width: 620px;
    word-wrap: break-word;
}
.total {
    & > span {
        font-size: 24px;
    }
}
.cards-l3 .card {
    text-align: center;
    border: initial;
}
.card-body {
    & > span {
        font-size: 12px;
    }
}
.icon > img {
    width: 106px;
}
.circle {
    background-color: white;
}
.actived {
    color: white;
    background-color: rgb(16, 185, 129);
}
.background {
    background-color: rgb(209, 213, 219);
}
.main {
    background-color: rgb(243, 244, 246);
}
.cards-r3 .card {
    border-radius: 0;
    border: initial;
}
.textarea-c {
    & > h1 {
        font-size: 30px;
    }
}
.card > .card-block {
    background-color: rgb(243, 244, 246);
}
.cards-r3 .card:not(:nth-child(3)) {
    border-bottom: 1px solid;
}
.card > a > svg,
.under-table > a > svg,
.card-r > a > svg,
.svg-block > a > svg {
    width: 20px;
    height: 20px;
}
.size-a {
    width: 122px;
    height: 44px;
}
.card-r {
    max-width: 520px;
}
.under-table > button {
    width: 100px;
    height: 40px;
}
.list-group-item {
    border: initial !important;
}
.left-block > p {
    max-width: 256px;
}
.left-block > a > svg {
    width: 40px;
    height: 40px;
}
.star > svg {
    width: 16px;
    height: 16px;
}
.ftw > a > svg {
    width: 20px;
    height: 20px;
}
.total > .heart {
    width: 40px;
    height: 40px;
}
.big-img {
    @media (max-width: 992px) {
        height: 256px;
    }
}
.position-card {
    & > :nth-child(1) {
        font-size: 18px;
    }
    & > button {
        background-color: rgb(99, 102, 241);
    }
    & > p {
        font-size: 12px;
    }
}
